#!/usr/bin/make -f

export DH_VERBOSE = 1
export CARGO_HOME = $(CURDIR)/debian/.cargo

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/zos-clone debian/zos-clone/usr/bin/zos-clone
	# Install man pages
	install -Dm644 packaging/man/zos-clone.1 debian/zos-clone/usr/share/man/man1/zos-clone.1
	install -Dm644 packaging/man/zos-clone-compile.1 debian/zos-clone/usr/share/man/man1/zos-clone-compile.1
	install -Dm644 packaging/man/zos-clone-run.1 debian/zos-clone/usr/share/man/man1/zos-clone-run.1
	install -Dm644 packaging/man/zos-clone-check.1 debian/zos-clone/usr/share/man/man1/zos-clone-check.1
	install -Dm644 packaging/man/zos-clone-gdg.1 debian/zos-clone/usr/share/man/man1/zos-clone-gdg.1
	install -Dm644 packaging/man/zos-clone-idcams.1 debian/zos-clone/usr/share/man/man1/zos-clone-idcams.1
	# Install shell completions
	install -Dm644 packaging/completions/zos-clone.bash debian/zos-clone/usr/share/bash-completion/completions/zos-clone
	install -Dm644 packaging/completions/zos-clone.zsh debian/zos-clone/usr/share/zsh/vendor-completions/_zos-clone
	install -Dm644 packaging/completions/zos-clone.fish debian/zos-clone/usr/share/fish/vendor_completions.d/zos-clone.fish

override_dh_auto_test:
	cargo test

override_dh_auto_clean:
	cargo clean
	rm -rf $(CARGO_HOME)
