apiVersion: v1
kind: Service
metadata:
  name: {{ include "open-mainframe.fullname" . }}
  labels:
    {{- include "open-mainframe.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
    - name: metrics
      port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
  selector:
    {{- include "open-mainframe.selectorLabels" . | nindent 4 }}
